div {
	display: flex;
	width: 30px;
	height: 30px;
	margin: 1px;
	background-color: grey;
	user-select: none;
	align-items: center;
	justify-content: center;
}

.revealed {
	background-color: lightgrey;
}

.mine.revealed {
	background-color: tomato;
}
